#bloglist2 {
    .container {
        .bloglist-header {
            h1 {
                @apply text-indigo-700 text-xl xl:text-4xl;
            }
            p {
                @apply text-base text-gray-600;
            }
            @apply flex flex-col space-y-4
        }
        @apply flex flex-col py-16 xl:py-24 space-y-4 xl:space-y-8;
    }

    .list-posst {
        @apply grid grid-cols-1 xl:grid-cols-2 gap-7 xl:gap-8;
    }
    @apply h-full;
}
