@tailwind components;

@layer components {
    .autoplay-progress svg {
        --progress: 0;
        position: absolute;
        left: 0;
        top: 0px;
        z-index: 10;
        width: 100%;
        height: 100%;
        stroke-width: 4px;
        stroke: var(--swiper-theme-color);
        fill: none;
        stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
        stroke-dasharray: 125.6;
        transform: rotate(-90deg);
        
    }
    @keyframes zoomFar{
        0% {
            transform: scale(1);
        }
        100% {
            transform: scale(1.3);
        }
    }

    .image__slider {
        animation: zoomFar 20000ms linear ;
    }
    #bloglist2 {
        .container {
            .bloglist-header {
                h1 {
                    @apply text-indigo-700 text-xl xl:text-4xl;
                }
                p {
                    @apply text-base text-gray-600;
                }
                @apply flex flex-col space-y-4
            }
            @apply flex flex-col py-16 xl:py-24 space-y-4 xl:space-y-8;
        }
    
        .list-posst {
            @apply grid grid-cols-1 xl:grid-cols-2 gap-7 xl:gap-8;
        }
        @apply h-full;
    }
    
}
